
=================================================
{{ hostname }}
=================================================

!! Nas configurações de Multicast versão 1 a lo1 funciona como ## SHARED IP ANYCAST-RP ##
nos dois spines, como desabilitaremos multicast, essa interface pode ser retirada e usada apenas a lo0 como BGP router-id



nv overlay evpn
feature nv overlay

-------------------  Desabilitar feature HSRP, PIM -------------------

no int lo1


------------------- Remover processo BGP e recriar com nova configuração -------------------

no router bgp 65064

router bgp {{ asn }}
   router-id {{ rid }}
   address-family ipv4 unicast
   redistribute direct route-map permit-all
   address-family l2vpn evpn
    retain route-target all
    maximum-paths 2
    nexthop route-map permit-all
    address-family l2vpn evpn
      allowas-in 3
      send-community extended
{% for ebgp_neighbors in ebgp_neighbors %}
 neighbor {{ ebgp_neighbors['neighbor']}}
 remote-as {{ ebgp_neighbors['remote_as'] }}
    password {{ebgp_neighbors['secret']}}
{% for L3_interfaces in L3_interfaces %}
  update-source {{L3_interfaces['interface']}}
{% endfor %}
    ebgp-multihop 2
    address-family l2vpn evpn
      allowas-in 3
      send-community extended
      route-map permit-all out
      rewrite-evpn-rt-asn
{% endfor %}


------------------------- VLANS -------------------------

{% for L2VNI in L2VNI %}    
  vlan {{ L2VNI['vlan_id'] }}
  name {{ L2VNI['vlan_name'] }}
  vn-segment 1600{{ L2VNI['vlan_id'] }}
{% endfor %}